@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-50: #F6F4F1;
    --background-100: #E3DDD5;
    --background-200: #D1C6B9;
    --background-300: #BEB09E;
    --background-400: #AC9982;
    --background-500: #998266;
    --background-600: #7D6B53;
    --background-700: #615341;
    --background-800: #463B2E;
    --background-900: #2A241C;
    --background-950: #0E0C09;

    --foreground-50: #F0F2F7;
    --foreground-100: #D3D9E6;
    --foreground-200: #B5C0D5;
    --foreground-300: #98A6C4;
    --foreground-400: #7A8DB3;
    --foreground-500: #5D74A2;
    --foreground-600: #4C5F85;
    --foreground-700: #3B4A67;
    --foreground-800: #2A354A;
    --foreground-900: #19202C;
    --foreground-950: #080B0F;

    --input-50: #F3F3F3;
    --input-100: #DCDCDC;
    --input-200: #C5C5C5;
    --input-300: #AEAEAE;
    --input-400: #979797;
    --input-500: #808080;
    --input-600: #686868;
    --input-700: #515151;
    --input-800: #3A3A3A;
    --input-900: #232323;
    --input-950: #0C0C0C;

    --card-50: #F3F3F3;
    --card-100: #DCDCDC;
    --card-200: #C5C5C5;
    --card-300: #AEAEAE;
    --card-400: #979797;
    --card-500: #808080;
    --card-600: #686868;
    --card-700: #515151;
    --card-800: #3A3A3A;
    --card-900: #232323;
    --card-950: #0C0C0C;

    --card-foreground-50: #F3F3F3;
    --card-foreground-100: #DCDCDC;
    --card-foreground-200: #C5C5C5;
    --card-foreground-300: #AEAEAE;
    --card-foreground-400: #979797;
    --card-foreground-500: #808080;
    --card-foreground-600: #686868;
    --card-foreground-700: #515151;
    --card-foreground-800: #3A3A3A;
    --card-foreground-900: #232323;
    --card-foreground-950: #0C0C0C;

    --primary-50: #FAF5ED;
    --primary-100: #EFE2CA;
    --primary-200: #E4CFA6;
    --primary-300: #D9BB83;
    --primary-400: #CEA85F;
    --primary-500: #C3943C;
    --primary-600: #A07931;
    --primary-700: #7C5E26;
    --primary-800: #59431B;
    --primary-900: #352810;
    --primary-950: #120D05;

    --primary-foreground-50: #FAF5ED;
    --primary-foreground-100: #EFE2CA;
    --primary-foreground-200: #E4CFA6;
    --primary-foreground-300: #D9BB83;
    --primary-foreground-400: #CEA85F;
    --primary-foreground-500: #C3943C;
    --primary-foreground-600: #A07931;
    --primary-foreground-700: #7C5E26;
    --primary-foreground-800: #59431B;
    --primary-foreground-900: #352810;
    --primary-foreground-950: #120D05;

    --secondary-50: #EEF2F9;
    --secondary-100: #CDD8EC;
    --secondary-200: #ABBEDF;
    --secondary-300: #8AA4D2;
    --secondary-400: #688AC5;
    --secondary-500: #4670B9;
    --secondary-600: #3A5C97;
    --secondary-700: #2D4775;
    --secondary-800: #203354;
    --secondary-900: #131F32;
    --secondary-950: #060A11;

    --secondary-foreground-50: #EEF2F9;
    --secondary-foreground-100: #CDD8EC;
    --secondary-foreground-200: #ABBEDF;
    --secondary-foreground-300: #8AA4D2;
    --secondary-foreground-400: #688AC5;
    --secondary-foreground-500: #4670B9;
    --secondary-foreground-600: #3A5C97;
    --secondary-foreground-700: #2D4775;
    --secondary-foreground-800: #203354;
    --secondary-foreground-900: #131F32;
    --secondary-foreground-950: #060A11;

    --ring-50: #FBECEC;
    --ring-100: #F2C7C6;
    --ring-200: #EAA1A0;
    --ring-300: #E27C7A;
    --ring-400: #D95654;
    --ring-500: #D1312E;
    --ring-600: #AB2826;
    --ring-700: #851F1D;
    --ring-800: #5F1615;
    --ring-900: #390D0D;
    --ring-950: #130404;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}